@using DBHelper.Schema
@{
    var context = new DBLAccountOpeningContext();
}

<h4 class="myHeader">JOINT APPLICANT</h4>


<div class="form-row">
    <div class="form-flex">
        <div class="form-group">
            <label for="jointApplicantTitle" class="form-label">Title</label>
            <select name="jointApplicantTitle" id="jointApplicantTitle" style="width:300px;" required>
                <option value="">-select-</option>
                @{
                    foreach (var item in context.Titles)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
        </div>


        <div class="form-group">
            <label for="jointApplicantSurname" class="form-label">Surname</label>
            <input type="text" name="jointApplicantSurname" id="jointApplicantSurname" required />
        </div>

        <div class="form-group">
            <label for="jointApplicantFname" class="form-label">First Name</label>
            <input type="text" name="jointApplicantFname" id="jointApplicantFname" required/>
        </div>
        <div class="form-group">
            <label for="jointApplicantOname" class="form-label">Other Name</label>
            <input type="text" name="jointApplicantOname" id="jointApplicantOname" />
        </div>
    </div>
</div>


<div class="form-row">
    <div class="form-flex">
        <div class="form-group">
            <label for="jointApplicantNationality" class="form-label">Nationality</label>
            <select name="jointApplicantNationality" id="jointApplicantNationality" style="width:300px;" required>
                <option value="">-select-</option>
                @{
                    foreach (var item in context.Countries.OrderBy(x => x.CountryName))
                    {
                        if (item.ID == 81)
                        {
                            <option value="@item.ID" selected>@item.CountryName</option>
                            continue;

                        }
                        <option value="@item.ID">@item.CountryName</option>
                    }
                }
            </select>

        </div>

        <div class="form-group">
            <label for="jointApplicantDOB" class="form-label" style="font-size:14px;">Date of Birth</label>
            <input type="date" name="jointApplicantDOB" id="jointApplicantDOB" required/>
        </div>

        <div class="form-group">
            <label for="jointApplicantPlaceOfBirth" class="form-label">Place of Birth</label>
            <input type="text" name="jointApplicantPlaceOfBirth" id="jointApplicantPlaceOfBirth"  required/>
        </div>




    </div>
</div>



<div class="form-row">
    <div class="form-flex">

        <div class="form-group">
            <label for="jointApplicantTelephone" class="form-label">Telephone</label>
            <input type="text" name="jointApplicantTelephone" id="jointApplicantTelephone" />
        </div>

        <div class="form-group">
            <label for="jointApplicantMobile" class="form-label">Mobile</label>
            <input type="text" name="jointApplicantMobile" id="jointApplicantMobile" required/>
        </div>

        <div class="form-group">
            <label for="jointApplicantResidentialCountry" class="form-label">Fax</label>
            <input type="text" name="jointApplicantResidentialCountry" id="jointApplicantResidentialCountry" />

        </div>

    </div>
</div>







<div class="form-row">
    <div class="form-flex">

        <div class="form-group">
            <label for="jointApplicantMailingEmail" class="form-label">Email</label>
            <input type="text" name="jointApplicantMailingEmail" id="jointApplicantMailingEmail" required/>
        </div>

        <div class="form-group">
            <label for="jointApplicantResidentialAddress" class="form-label">Residential Address</label>
            <input type="text" name="jointApplicantResidentialAddress" id="jointApplicantResidentialAddress" />
        </div>

        <div class="form-group">
            <label for="jointApplicantOccupation" class="form-label">Occupation</label>
            <input type="text" name="jointApplicantOccupation" id="jointApplicantOccupation" required/>

        </div>

    </div>
</div>









<div class="form-row">
    <div class="form-flex">
        <div class="form-group">
            <label for="jointApplicantIdType" class="form-label">ID Type</label>
            <select name="jointApplicantIdType" id="jointApplicantIdType" style="width:250px;" required>
                <option value="">-select-</option>
                @{
                    foreach (var item in context.IDCardTypes.Where(x => x.IsActive).Take(4))
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>

        </div>

        <div class="form-group">
            <label for="jointApplicantIdNumber" class="form-label">ID Number</label>
            <input type="email" name="jointApplicantIdNumber" id="jointApplicantIdNumber" required/>
        </div>

        <div class="form-group">
            <div class="dropzone dropzone-previews" id="jointApplicantIdPhoto" style="padding-top:2px;">
                <center style="text-align:center;">
                    UPLOAD ID
                </center>
            </div>
        </div>
        <input type="hidden" name="jointApplicantIdPhotohidden" id="jointApplicantIdPhotohidden" />



    </div>
</div>


<div class="form-row">
    <div class="form-flex">

        <div class="form-group">
            <label for="jointApplicantIdIssuingAuthority" class="form-label">Issuing Authority</label>
            <input type="email" name="jointApplicantIdIssuingAuthority" id="jointApplicantIdIssuingAuthority" required/>
        </div>



        <div class="form-group">
            <label for="jointApplicantIdCardIssueDate" class="form-label">Issue Date</label>
            <input type="date" name="jointApplicantIdCardIssueDate" id="jointApplicantIdCardIssueDate" />
        </div>

        <div class="form-group">
            <label for="jointApplicantIdCardExpDate" class="form-label">Expiry Date</label>
            <input type="date" name="jointApplicantIdCardExpDate" id="jointApplicantIdCardExpDate" />
        </div>
    </div>
</div>

