@using DBHelper.Schema
@{
    var context = new DBLAccountOpeningContext();
}

<h4 class="myHeader">JOINT APPLICANT</h4>


<div class="form-row">
    <div class="form-flex">
        <div class="form-group">
            <label for="firstApplicantTitle" class="form-label">Title</label>
            <select name="firstApplicantTitle" id="firstApplicantTitle" style="width:300px;">
                <option value="">-select-</option>
                @{
                    foreach (var item in context.Titles)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
        </div>


        <div class="form-group">
            <label for="firstApplicantSurname" class="form-label">Surname</label>
            <input type="text" name="firstApplicantSurname" id="firstApplicantSurname" />
        </div>

        <div class="form-group">
            <label for="firstApplicantFname" class="form-label">First Name</label>
            <input type="text" name="firstApplicantFname" id="firstApplicantFname" />
        </div>
        <div class="form-group">
            <label for="firstApplicantOname" class="form-label">Other Name</label>
            <input type="text" name="firstApplicantOname" id="firstApplicantOname" />
        </div>
    </div>
</div>


<div class="form-row">
    <div class="form-flex">
        <div class="form-group">
            <label for="firstApplicantNationality" class="form-label">Nationality</label>
            <select name="firstApplicantNationality" id="firstApplicantNationality" style="width:300px;">
                <option value="">-select-</option>
                @{
                    foreach (var item in context.Countries.OrderBy(x => x.CountryName))
                    {
                        if (item.ID == 81)
                        {
                            <option value="@item.ID" selected>@item.CountryName</option>
                            continue;

                        }
                        <option value="@item.ID">@item.CountryName</option>
                    }
                }
            </select>

        </div>

        <div class="form-group">
            <label for="firstApplicantDOB" class="form-label" style="font-size:14px;">Date of Birth</label>
            <input type="date" name="firstApplicantDOB" id="firstApplicantDOB" />
        </div>

        <div class="form-group">
            <label for="firstApplicantPlaceOfBirth" class="form-label">Place of Birth</label>
            <input type="text" name="firstApplicantPlaceOfBirth" id="firstApplicantPlaceOfBirth" />
        </div>




    </div>
</div>



<div class="form-row">
    <div class="form-flex">

        <div class="form-group">
            <label for="firstApplicantResidentialCity" class="form-label">Telephone</label>
            <input type="text" name="firstApplicantResidentialCity" id="firstApplicantResidentialCity" />
        </div>

        <div class="form-group">
            <label for="firstApplicantResidentialZipCode" class="form-label">Mobile</label>
            <input type="text" name="firstApplicantResidentialZipCode" id="firstApplicantResidentialZipCode" />
        </div>

        <div class="form-group">
            <label for="firstApplicantResidentialCountry" class="form-label">Fax</label>
            <input type="text" name="firstApplicantResidentialZipCode" id="firstApplicantResidentialZipCode" />

        </div>

    </div>
</div>







<div class="form-row">
    <div class="form-flex">

        <div class="form-group">
            <label for="firstApplicantMailingCity" class="form-label">Email</label>
            <input type="text" name="firstApplicantMailingCity" id="firstApplicantMailingCity" />
        </div>

        <div class="form-group">
            <label for="firstApplicantMailingZipCode" class="form-label">Residential Address</label>
            <input type="text" name="firstApplicantMailingZipCode" id="firstApplicantMailingZipCode" />
        </div>

        <div class="form-group">
            <label for="firstApplicantMailingCountry" class="form-label">Occupation</label>
            <input type="text" name="firstApplicantMailingZipCode" id="firstApplicantMailingZipCode" />

        </div>

    </div>
</div>









<div class="form-row">
    <div class="form-flex">
        <div class="form-group">
            <label for="firstApplicantIdType" class="form-label">ID Type</label>
            <select name="firstApplicantIdType" id="firstApplicantIdType" style="width:250px;">
                <option value="">-select-</option>
                @{
                    foreach (var item in context.IDCardTypes.Where(x => x.IsActive).Take(4))
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>

        </div>

        <div class="form-group">
            <label for="firstApplicantIdNumber" class="form-label">ID Number</label>
            <input type="email" name="firstApplicantIdNumber" id="firstApplicantIdNumber" />
        </div>

        <div class="form-group">
            <label for="firstApplicantIdIssuingAuthority" class="form-label">Issuing Authority</label>
            <input type="email" name="firstApplicantIdIssuingAuthority" id="firstApplicantIdIssuingAuthority" />
        </div>



    </div>
</div>


<div class="form-row">
    <div class="form-flex">
        <div class="form-group">
            <label for="firstApplicantIdCardIssueDate" class="form-label">Issue Date</label>
            <input type="date" name="firstApplicantIdCardIssueDate" id="firstApplicantIdCardIssueDate" />
        </div>

        <div class="form-group">
            <label for="firstApplicantIdCardExpDate" class="form-label">Expiry Date</label>
            <input type="date" name="firstApplicantIdCardExpDate" id="firstApplicantIdCardExpDate" />
        </div>
    </div>
</div>

