@using DBHelper.Schema
@using  AppUtils
@{
    var context = new DBLAccountOpeningContext();
    var applicationId = MvcApplication.TempAccount.Id;

    var idCards = context.IDCardTypes.Where(x => x.Id == 4 || x.Id == 5 || x.Id == 9);
    var accountNextOfKins = Utilities.GetAccountNextOfKins(applicationId);
    var nok1 = accountNextOfKins.FirstOrDefault();

}

<div class="table-responsive">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th colspan="6">Next of Kin's Details</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="nextOfKin1Name" class="form-label">Name *</label>
                        <input type="text" name="nextOfKin1Name" id="nextOfKin1Name" required class="form-control" value="@nok1.Name" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="nextOfKin1Phone" class="form-label">Telephone</label>
                        <input type="text" name="nextOfKin1Phone" id="nextOfKin1Phone" class="form-control" value="@nok1.Telephone" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="nextOfKin1Mobile" class="form-label">Mobile *</label>
                        <input type="text" name="nextOfKin1Mobile" id="nextOfKin1Mobile" required class="form-control" value="@nok1.Mobile" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="nextOfKin1Fax" class="form-label">Fax</label>
                        <input type="text" name="nextOfKin1Fax" id="nextOfKin1Fax" class="form-control" value="@nok1.Fax" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="nextOfKin1Relation" class="form-label">Relation to the Account Holder *</label>
                        <input type="text" name="nextOfKin1Relation" id="nextOfKin1Relation" required class="form-control" value="@nok1.RelationToAccount" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="nextOfKin1Email" class="form-label">E-mail address</label>
                        <input type="email" name="nextOfKin1Email" id="nextOfKin1Email" class="form-control" value="@nok1.Email" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="nextOfKin1MailAddress" class="form-label">Mailing Address</label>
                        <input type="text" name="nextOfKin1MailAddress" id="nextOfKin1MailAddress" class="form-control" value="@nok1.MailingAddress" />
                    </div>
                </td>
            </tr>
            @{
                if (accountNextOfKins.Count() > 1)
                {
                    var nok2 = accountNextOfKins.LastOrDefault();
                    <tr>
                        <th>Next of Kin 2</th>
                    </tr>

                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="nextOfKin2Name" class="form-label">Name</label>
                                <input type="text" name="nextOfKin2Name" id="nextOfKin2Name" class="form-control"  value="@nok2.Name"/>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="nextOfKin2Phone" class="form-label">Telephone</label>
                                <input type="text" name="nextOfKin2Phone" id="nextOfKin2Phone" class="form-control" value="@nok2.Telephone"/>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="nextOfKin2Mobile" class="form-label">Mobile</label>
                                <input type="text" name="nextOfKin2Mobile" id="nextOfKin2Mobile" class="form-control" value="@nok2.Mobile"/>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="nextOfKin2Fax" class="form-label">Fax</label>
                                <input type="text" name="nextOfKin2Fax" id="nextOfKin2Fax" class="form-control" value="@nok2.Fax"/>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="nextOfKin2Relation" class="form-label">Relation to the Account Holder</label>
                                <input type="text" name="nextOfKin2Relation" id="nextOfKin2Relation" class="form-control" value="@nok2.RelationToAccount"/>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="nextOfKin2Email" class="form-label">E-mail address</label>
                                <input type="email" name="nextOfKin2Email" id="nextOfKin2Email" class="form-control" value="@nok2.Email"/>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="nextOfKin2MailAddress" class="form-label">Mailing Address</label>
                                <input type="text" name="nextOfKin2MailAddress" id="nextOfKin2MailAddress" class="form-control" value="@nok2.MailingAddress" />
                            </div>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>

</div>