@using DBHelper.Schema
@using AppUtils
@{ 
    Layout = null;
    var context = new DBLAccountOpeningContext();
    var settings = Utilities.GetAppSettings();

}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="colorlib.com">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@settings.AppName | New Account</title>

    <link rel="stylesheet" href="~/wizardFiles/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/wizardFiles/vendor/nouislider/nouislider.min.css">
    <link rel="icon" href="~/images/databank.png" type="image/x-icon">

    <link rel="stylesheet" href="~/wizardFiles/css/style.css">
    <script src="~/wizardFiles/vendor/jquery/jquery.min.js"></script>

    <style>
        body, #main {
            border-bottom: thin gold;
            background-image: linear-gradient(to right, #FFF9ED 20%,#F5f5f5 30%,#FFF9EF);
            padding-top: 1%;
            padding-bottom: 1%;
            height: auto;
            min-height: 5px;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/basic.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.js"></script>

</head>

<body>
    @Html.Partial("~/Views/Partials/_header.cshtml")

    <div class="main" style="padding:0;">

        <div class="container">
            <form method="POST" id="signup-form" class="signup-form" enctype="multipart/form-data" action="@Url.Action("Initiate")">
                <div>
                    @Html.Partial("~/Views/Partials/_csdForm.cshtml")

                    <h3>Databank Brokerage Form</h3>
                    @{
                        if (MvcApplication.AccountType <= 3)
                        {
                            //single, joint or itf
                            @Html.Partial("~/Views/Partials/_firstApplicant.cshtml")


                        }


                        else if (MvcApplication.AccountType == 4)
                        {
                            //inst
                            @Html.Partial("~/Views/Partials/_institutionalApplicant.cshtml")

                        }
                    }


                    <h3>File Uploads</h3>
                    @{
                        @Html.Partial("~/Views/Partials/_fileUploads.cshtml")
                    }


                    <h3>AML Questionnaire</h3>
                    @{
                        @Html.Partial("~/Views/Partials/_aml.cshtml")

                    }
                    <h3>Electronic Transmission Indemnity</h3>
                    @{
                        if (MvcApplication.AccountType <= 3)
                        {
                            @Html.Partial("~/Views/Partials/_indemnity_individual.cshtml")
                        }
                        else
                        {
                            @Html.Partial("~/Views/Partials/_indemnity_institutions.cshtml")

                        }
                    }



                    <h3>Submit Application</h3>
                    <fieldset>
                        <h2>You are about to submit your application to Databank.</h2>
                        
                        <br/><br/><br/>
                    </fieldset>

                </div>
            </form>
        </div>

    </div>

    <!-- JS -->
    <script src="~/wizardFiles/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/wizardFiles/vendor/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/wizardFiles/vendor/jquery-steps/jquery.steps.min.js"></script>
    <script src="~/wizardFiles/vendor/minimalist-picker/dobpicker.js"></script>
    <script src="~/wizardFiles/vendor/nouislider/nouislider.min.js"></script>
    <script src="~/wizardFiles/vendor/wnumb/wNumb.js"></script>
    <script src="~/wizardFiles/js/main.js"></script>
    <script src="~/Scripts/dropZoneInit.js"></script>

    <style type="text/css">
        select {
            border: 1px solid #ebebeb;
            box-sizing: border-box;
            position: relative;
            background: 0 0;
            z-index: 10;
            cursor: pointer;
            padding: 0 20px;
            height: 50px;
            font-size: 14px;
            font-family: 'Roboto Slab';
            color: #999;
            box-sizing: border-box;
            background-color: #fff;
            font-weight: bold;
        }

        .error {
            color: red;
        }



        .form-flex {
            width: 900px;
        }

        .vertical .content, .vertical .actions {
            height: auto
        }

        #csdBankAccn-error {
            margin-top: 20px;
        }

        .actions ul li a {
            background-color: #00a65a !important;
        }

        .actions ul li:first-child a {
            color: white;
        }


        .myHeader {
            color: white;
            background-color: #00a65a !important;
            padding-left: 2%;
            padding-top: 1%;
            padding-bottom: 1%;
        }

        #csd-image-div, #firstApplicantIdPhoto, #jointApplicantIdPhoto, #itfApplicantIdPhoto,
        #firstJointItfAuthorisedPerson, #instAuthorisedOfficer1PhotoId, #instAuthorisedOfficer2PhotoId {
            width: 250px;
            height: 200px;
            border: 2px dashed #0087f7;
        }


        #instSignatory1, #instSignatory2, #instSignatory3, #instSignatory4 {
            width: 250px;
            height: 50px;
            border: 2px dashed #0087f7;
        }

        #proofOfResidence, #otherBusinessFiles {
            width: 1000px;
            height: 250px;
            border: 2px dashed #0087f7;
        }


        tr.greenHeader {
            background-color: #00a65a; color:white; font-weight:bold; text-align:center; 
        }
    </style>
</body>



</html>