
@model DBHelper.Schema.Account
@using DBHelper.Schema
@using AppUtils
@{
    Layout = null;
    var context = new DBLAccountOpeningContext();
    var settings = Utilities.GetAppSettings();
    var currentUser = Utilities.GetSessionUser() as AppModels.UserModel;


}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="colorlib.com">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@settings.AppName | New Account</title>

    <link rel="stylesheet" href="~/wizardFiles/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/wizardFiles/vendor/nouislider/nouislider.min.css">
    <link rel="icon" href="~/images/databank.png" type="image/x-icon">

    <link rel="stylesheet" href="~/wizardFiles/css/style.css">
    <script src="~/wizardFiles/vendor/jquery/jquery.min.js"></script>

    <style>
        body, #main {
            border-bottom: thin gold;
            background-image: linear-gradient(to right, #FFF9ED 20%,#F5f5f5 30%,#FFF9EF);
            padding-top: 1%;
            padding-bottom: 1%;
            height: auto;
            min-height: 5px;
        }
    </style>
</head>

<body>
    @Html.Partial("~/Views/Partials/_header.cshtml")
    <br /><br />
    <div class="main" style="padding:0;">
        <center>
            <h2>
                Success! <br /> The Reference number for this application is <b style="color:#157941">@Model.ReferenceNo</b>
                <br />
                Your details have been submitted to the Databank Brokerage Team<br />
                Account details will be emailed to you<br />

                @{
                    if (currentUser != null)
                    {
                        <a href="@Url.Action("Applications", "Admin")" style="color: #157941; font-size:20px; width:300px;">Home</a>

                    }
                    else
                    {
                        <a href="@Url.Action("Index", "Home")" style="color: #157941; font-size:20px; width:300px;">Home</a>

                    }
                }

            </h2>
        </center>

    </div>

</body>
</html>
