@model AppModels.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Client.cshtml";
}

<div class="row">

    <div class="col-md-6">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Change Password | @Model.Fullname</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form class="form-horizontal" method="post" action="@Url.Action("ChangePassword","Client")">
                @Html.AntiForgeryToken()
                <div class="card-body">

                    <div class="form-group row">
                        <label for="" class="col-md-5 col-form-label">Current Password</label>
                        <div class="col-md-6">
                            @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control", @autofocus = "autofocus" })
                            @Html.ValidationMessageFor(model => model.CurrentPassword)
                        </div>
                    </div>




                    <div class="form-group row">
                        <label for="" class="col-md-5 col-form-label">New Password</label>
                        <div class="col-md-6">
                            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NewPassword)
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-md-5 col-form-label">Confirm Password</label>
                        <div class="col-md-6">
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        </div>
                    </div>

                    <hr />
                    <p style="text-align: center; padding-left: 30%;">

                        <button type="submit" class="btn btn-info">Change Password</button>
                        <a href="@Url.Action("AppProfile")" class="btn btn-danger">Cancel</a>

                    </p>
                    <a></a>
                </div>
                <!-- /.card-body -->
                <!-- /.card-footer -->
            </form>
        </div>
    </div>



    <div class="col-md-6">
        <h4>Password Policy</h4>
        <ul>
            <li>Must be at least 6-12 characters long</li>
            <li>Must contain at least one uppercase[A-Z]</li>
            <li>Must contain at least one lowercase[a-z]</li>
            <li>Must contain at least one digit[0-9]</li>
        </ul>
        <hr />

        <p style="color: red;">You will be required to re-login once the password is successfully changed.</p>
    </div>


</div>



<style type="text/css">
    .field-validation-error {
        color: red;
    }
</style>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
