@using AppUtils
@using DBHelper.Schema

@{
    if (!Request.IsAuthenticated)
    {
        Response.Redirect(Url.Action("Logout", "Account"));
    }
    var currentUser = Utilities.GetSessionUser();
    AppUser user = null;
    if (currentUser is AppUser)
    {
        user = currentUser as AppUser;

    }
    else
    {
        Response.Redirect(Url.Action("Logout", "Account"));

    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@Utilities.GetAppSettings().AppName | @ViewBag.Title</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="icon" href="~/images/databank.png" type="image/x-icon">
    <!-- jQuery -->
    <script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <script src="~/Scripts/validateUploads.js"></script>

</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to to the body tag
to get the desired effect
|---------------------------------------------------------|
|LAYOUT OPTIONS | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>

            </ul>

            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i style="font-weight:bold;">Welcome @user.Name </i>
                        @{

                            <i class="far fa-user fa-2x" style="color: #124830;"></i>

                        }
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        @*<a href="@Url.Action("UserProfile","Admin")" class="dropdown-item">
                                <i class="fas fa-user mr-2"></i> User Profile
                            </a>*@
                        @*<div class="dropdown-divider"></div>*@
                        <a href="" class="dropdown-item">
                            <i class="fas fa-lock mr-2"></i> Change Password
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" onclick="javascript:confirmLogout()" class="dropdown-item">
                            <i class="fas fa-sign-out-alt mr-2"></i> Sign Out
                        </a>

                    </div>
                </li>

            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color:#124830;">
            <!-- Brand Logo -->
            <a href="" class="brand-link">
                <span class="brand-text font-weight-light">DBL Online Account Opening</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">

                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


                        @*<li class="nav-item">
                            <a href="@Url.Action("Dashboard","Admin")" class="nav-link">
                                <i class="fa fa-home"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li>*@

                        <li class="nav-item">
                            <a href="@Url.Action("Applications","Admin")" class="nav-link">
                                <i class="fa fa-users"></i>
                                <p>
                                    Applications
                                </p>
                            </a>
                        </li>
                        
                      
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <br />
                    @RenderBody()

                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>
                Copyright © 2020 Databank
            </strong>
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0
            </div>
        </footer>
    </div>
    <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminLTE/dist/js/adminlte.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>



    <script type="text/javascript">
    function confirmLogout() {
        bootbox.dialog(
            {
                title: "Confirm Action",
                message:"Logout of session?<br/>",

                buttons: {
                    success: {
                        label: "OK",
                        className: "btn-success",
                        callback: function () {
                            document.location.href = "@Url.Action("Logout", "Account")";
                        }
                    },
                    main: {
                        label: "Cancel",
                        className: "btn-danger",
                        callback: function () {

                        }
                    }

                }
            });


    }
    </script>



    @Html.Partial("_Prompt")



    <script type="text/javascript">

        $(function () {
            try {
                //   alert('loaded');
                $("input,select,textarea").focus(function () {
                    $("#" + this.name).css("border-color", "#ff0000");
                });

                $("input,select,textarea").focusout(function () {
                    $("#" + this.name).css("border-color", "green");
                });




            } catch (e) {

            }
        });



    </script>

    <style type="text/css">
        i.fa fa-trash, .fa-trash {
            color: red;
        }
    </style>
</body>
</html>
